body{
    background-color: antiquewhite;
}

.Bagian_Navigasi{
    display: flex;
    flex-direction: row;
    background-color:  #303c6c;
}
.kotak > a {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f4976c;
    padding: 0.3cm;
    margin-top: 0.5cm;
    border-radius: 1cm;
}
.kotak > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f4976c;
    padding: 0.18cm;
    margin-bottom: 0.5cm;
    text-shadow: 2px 2px #000000;
    margin-right: 11.8cm;
}
#palingbelakang{
    margin-right: 0.7cm;
}
a:hover{
    color: #303c6c;
    background-color: #f4976c;
}
.logo{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/206/498/small_2x/cute-smiling-sun-face-funny-sun-character-for-kids-vector.jpg);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-top: 0.4cm;
    margin-right: auto;
    margin-left: 1cm;
    background-size: cover;
}

.about{
    background-color: #65b4b4;
}
.gambar{
    display: flex;
}
.gambar img{
    flex:1;
    width: 10cm;
    margin: 1cm;
    margin-left: 3cm;
    border-radius: 0.5cm;
}
.about_us{
    flex: 3;
    margin-left: 1cm;
    margin-top: 0.75cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 2cm;
}

.about_us p{
    margin-top: -0.4cm;
}
.open{
    margin-left: 1cm;
    border: #65b4b4 solid 0.1cm;
    margin-top: 1cm;
    padding: 0.2cm;
}
.open > h2 {
    margin-bottom: -0.3cm;
    margin-top: -0.05cm;
}

.tabfor{
    display: flex;
    flex-direction: row;
}
.form.tabel{
    flex: 1;
}

.kolom{
    margin-bottom: 0.2cm;
}

.buat_form{
    display: flex;
    flex-direction: row;    
}

.bagiankata{
    display: flex;
    flex-direction: column;
    flex:1;
}

.bagiankata > label{
    margin-bottom: 0.2cm;
}

.bagiankolom{
    display: flex;
    flex-direction: column;
    flex:3
}
.bagiankolom > input{
    margin-bottom: 0.2cm;
}

.tabel{
    margin-left: 1cm;
}